@import "../../assets/style/";

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 3em 0;

  &__title {
    &-accent {
      // text-decoration: underline;
    }

    &-secondary {
      color: #c4c4c4;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 1em;

    &-title {
      margin: 2em 0 .5em 0;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
  }
}
