@import "../../assets/style/";

.form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  width: 100%;

  &__title {
    margin: 0 !important;
    line-height: 1.3;
  }

  &__input {}

  &__number {
    width: 8em;

    &.large {
      width: 8em;
    }

    &-unit {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1em;
      text-align: center;
    }
  }

  &__select {
    width: 10em;
  }
}

@media (max-width: 600px) {
  .form-item {
    &__number {
      width: 8em;

      &.large {
        width: 8em;
      }
    }

    &__select {
      width: 10em;
    }
  }
}
