@import "../../assets/style/";

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;

  &__title {
    &-accent {
      // text-decoration: underline;
    }

    &-secondary {
      color: #c4c4c4;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 1em;

    &-title {
      margin-bottom: 0!important;
      color: #869ab8;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    margin: 1em 0 0 auto;
  }
}
