body {
  background: white;
  color: #333;
  font-size: 12px;
  font-family: "Windows 95", Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

@media (max-width: 600px) {
  .root {
    font-size: 10px;
  }
}
