body {
  background: white;
  color: #333;
  font-size: 12px;
  font-family: "Windows 95", Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
}

h2 {
  font-size: 2em;
  line-height: 1.2;
}

h3 {
  font-size: 1.75em;
  line-height: 1.2;
}

h4 {
  font-size: 1.5em;
  line-height: 1.2;
}

h5 {
  font-size: 1.25em;
  line-height: 1.2;
}

h6 {
  font-size: 1em;
  line-height: 1.2;
}
