@import "../../assets/style/";

.form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  width: 100%;

  &__title {
    width: 50%;
    padding: .3em 0 0 0;
  }

  &__input {
    width: 50%;
  }

  &__number {
    width: 100%;
    border: 1px solid #4a4a4a;
    padding: .3em;
    transition: all .2s ease;

    &:disabled {
      color: #c0c0c0;
      cursor: not-allowed;
    }
  }

  &__select {
    width: 100%;
    border: 1px solid #4a4a4a;
    padding: .3em;
    transition: all .2s ease;

    &:disabled {
      color: #c0c0c0;
      cursor: not-allowed;
    }
  }
}
