@import "../../assets/style/";

.form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  width: 100%;

  &__title {
    width: 50%;
    margin-top: -1px!important;
    margin-bottom: 0!important;
    // text-align: right;
  }

  &__input {
    width: 50%;
  }

  &__number {
    width: 6em;
  }

  &__select {
    width: 100%;
  }
}
