@import "../../assets/style/";

.button {
  position: relative;
  border-radius: .125rem;
  border: 1px solid #a0a0a0;
  padding: .6em 2em;
  background: #c0c0c0;
  text-align: center;
  transition: all .2s ease;

  &:before,
  &:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    display: block;
    background: transparent;
    z-index: 9;
    top: 0;
    left: 0;
  }

  &:before {
    width: 100%;
    height: 100%;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #858585;
    border-bottom: 2px solid #858585;
  }

  &:active {
    border-color: transparent;

    &:before,
    &:after {
      display: none;
    }
  }
}
