@import "../../assets/style/";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5em 0 0 0;
  padding: .5em 1em;
  text-align: center;

  & b {
    font-weight: bold;
  }
}
